.tableTitle{
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size: 18px;
    background-color: #D8D8D8;
}

.tableText{
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

#effortForm{
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

#noHarvest{
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    color: #ff6666;
    text-align: center;
    padding-right: 500px;
    //color: #cccccc
}

#newHarvest{
    //padding-bottom: 520;
    //margin-left: 350;
    vertical-align: top;
}

.selectNewHarvest{
    padding-right: 110px;
}